@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-image-linear {
  mask-image: linear-gradient(to bottom, black 77%, transparent 100%);
}

input[type='checkbox'] {
  appearance: none;
}
input[type='checkbox']:not(:checked) {
  background-image: url('../public/assets/shared/icon-hamburger.svg');
}
input[type='checkbox']:checked {
  background-image: url('../public/assets/shared/icon-close.svg');
}
